body {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont,  Roboto, 'Helvetica Neue', Arial, sans-serif
}

#map {
  height: 100vh;
  width: 100%;
  background-color: grey;
}

.address-container {
  margin-left: 10px;
  margin-right: 10px;
}

.pull-right {
  float: right;
}

footer {
  margin: 200px auto 0 auto;
  text-align: center;
}
